<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>内测应用分发服务</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <link rel="stylesheet" href="/static/css/app.min.css">
</head>
<body>
<div class="container">
    <div class="page">
        <div class="weui-cells__title">历史版本</div>
        <div class="weui-cells">
            {{ range .builds }}

            <div class="weui-cell weui-cell_swiped" id="{{ .UUID }}">
                <div class="weui-cell__bd">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <img src="{{ .IconUrl }}">
                        </div>
                        <div class="weui-cell__bd">
                            <p>{{ .Name }}</p>
                        </div>
                        <div class="weui-cell__bd">
                            <a href="/bundle/{{ .UUID }}">
                                <p>{{ .Version }} ({{ .Build }})</p>
                            </a>
                        </div>
                        <div class="weui-cell__ft">
                            <a href="{{ .InstallUrl | safeURL }}" class="weui-btn weui-btn_mini weui-btn_primary">安装</a>
                        </div>
                    </div>
                </div>
                {{ if $.isEdit }}
                <div class="weui-cell__ft">
                    <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" onclick="del({{ .UUID }})">删除</a>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ if .isEdit }}
<script src="/static/js/fastclick.min.js"></script>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script>
    function del(uuid) {
        $.ajax({
            method : "GET",
            url: '/del/' + uuid,
            timeout: 5000,
            success: function (data) {
                var element = document.getElementById(uuid);
                element.parentNode.removeChild(element);
            },
            error: function (error) {
                alert(error.responseJSON.msg)
            }
        })
    }
</script>
<script src="/static/js/jquery-weui.min.js"></script>
{{ end }}
</body>
</html>