<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>所有应用</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <link rel="stylesheet" href="/static/css/app.min.css">
</head>
<body>
<div class="container">
    <div class="page">
        <div class="weui-cells__title">所有应用</div>
        <div class="weui-cells">
            {{ range .builds }}
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <img src="{{ .IconUrl }}">
                    </div>
                    <div class="weui-cell__bd">
                        <p>{{ .Name }}</p>
                    </div>
                    <div class="weui-cell__bd">
                        <p> {{ .Platform }} ({{ .BundleId }}) </p>
                    </div>
                    <div class="weui-cell__ft">
                        <a href="/bundleId/{{ .BundleId }}?platform={{ .Platform }}" class="weui-btn weui-btn_mini weui-btn_primary">查看</a>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</div>
</body>
</html>